
body {
    min-height: 100%;
	margin:0;
	padding:0;
	background: -webkit-gradient(linear, left top, left bottom, from(#8c1515), to(#f2ece8));
	background: -webkit-linear-gradient(top,#020d3d,#995252);
	background-attachment: fixed;
    font-family: "Times", "Arial", sans-serif;
    font-size: 17px;

    

}
#container {
    margin: 0 auto; /* centrar */
    max-width: 56em;
    background-color: #ffffff15;
    padding: 2.6vw;                              /* 2em 3vw 2rem*/
    padding-top: .2em;
    padding-bottom: 8em;
    -webkit-box-shadow: 0 10px 10px #000000;
    -moz-box-shadow: 0 10px 10px #000000;
    box-shadow: 0 10px 10px #000000;
 }
  
header{
    background-color: #ffffff00;
    line-height: 1.2;
    text-align: left;
    padding-left: 0em;
    padding-bottom: 20vmin;
}

header h1 {
    font-family: "georgia", "Arial", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;                       /* px,ch,vmin for button too*/
    font-weight: 300;

    
  }

#menu {
    line-height: 3.4em;  /* line-spacing */ 
    background-color: #00000000;
    padding: 1em;
    padding-top: .4em;
    padding-bottom: 1.3em;
    padding-left: 0;
}

#menu a {
    font-family:Verdana, Geneva, Tahoma, sans-serif  ;
    background:  #00000073; 
    color: rgb(255, 255, 255);
    padding: 1em 1em;
    text-decoration:none;
    font-size: 1em;
    font-weight: 300;
    transition: none 200ms ease-out;
    transition-property: color, background;
    white-space: nowrap;   /* preventing button cut in half */
    
  }
#menu a:hover {
    background:  #dbdbdb; 
    color: rgb(0, 0, 0); /* text button */
}



main{
    font-size: 18px;
    line-height: 1.3em;  /* line-spacing */ 
    padding: 3vw 3.6vw 10vw 3.6vw;  /* Top, Left, Bottom, Right */ 
    background-color:  #ffebd9ce;
    -webkit-box-shadow: 0px 1px 6px rgb(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 6px rgb(0, 0, 0, .5);
    box-shadow: 0px 1px 6px rgb(0, 0, 0, .5);	
}
img {
    height: auto;
    max-width: 100%;
  }